extends layout
block content
   ul.nav.nav-tabs
      li(role='features')
         a(href='/') Search
      li(role='features')
         a(href='/url_feeder') URL Feeder
      li.active(role='features')
        a(href='/task_summary') Task Summary
      li(role='features')
         a(href='/voice_search') Voice Search
   h1(align='left') Task Summary

   form(align="center",method='POST', action='/api/task_summary')
      .form-group.col-md-5
         input.form-control(type='text', name='taskName', placeholder='Task')
         br
         input.form-control(type='text', name='userid', placeholder='Unity ID')
         br
         button.btn.btn-primary.btn-sm(type='submit', name='submit', value='Generate') Generate